@font-face {
  font-family: "Ranade";
  src: url("../assets/fonts/Ranade-Thin.woff2") format("woff2"),
    url("../assets/fonts/Ranade-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ranade";
  src: url("../assets/fonts/Ranade-Light.woff2") format("woff2"),
    url("../assets/fonts/Ranade-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ranade";
  src: url("../assets/fonts/Ranade-Regular.woff2") format("woff2"),
    url("../assets/fonts/Ranade-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ranade";
  src: url("../assets/fonts/Ranade-Medium.woff2") format("woff2"),
    url("../assets/fonts/Ranade-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ranade";
  src: url("../assets/fonts/Ranade-Bold.woff2") format("woff2"),
    url("../assets/fonts/Ranade-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
